<div class="row sticky-top" style="background-color: #005f73 !important; margin: 0; padding: 0;">
  <div class="col-xxl-10 offset-xxl-1 col-lg-10 offset-lg-1 col-md-12">
    <nav class="navbar navbar-expand-lg m-0 p-0">
      <a class="navbar-brand text-white text-capitalize" href="#"
        style=" outline: none; border: none; font-family: 'Quicksand', cursive; overflow: hidden;">
        <span class="text-break networkTitle fs-3 fw-bolder text-white"
          style="  font-family: 'Dancing Script', cursive; font-optical-sizing: auto;">Network Solutions</span></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation"
        style="outline: none; border: none;">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ms-auto text-center">
          <!-- <li class="nav-item mx-2">
             <a class="nav-link active text-white px-3 rounded py-0 my-0" aria-current="page" href="#Contact"
              style="font-size: 16px !important;" ngbTooltip="Coming Soon">About us
              <div class="menu-hover-border"></div>
            </a>
          </li> -->
          <li class="nav-item mx-2">
            <a class="nav-link active text-white px-3 rounded py-0 my-0" aria-current="page" href="#Contact"
              style="font-size: 16px !important;" ngbTooltip="Coming Soon">Contact us
              <div class="menu-hover-border"></div>
            </a>
          </li>
        </ul>
      </div>
    </nav>
  </div>
</div>