.menu-hover-border {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 2px;
  width: 0;
  background-color: white;
  transition: width 0.5s ease-in-out;
  margin: 0 auto;
}
.nav-link:hover .menu-hover-border{
  width: 100%;  
}
.active-link .menu-hover-border {
  width: 100%;  
}

