<app-header></app-header>
<div class="container my-5">
  <div class="row">
    <div class="col-md-5 col-sm-12">
      <div class="pt-3">
        <h4 class="text-center mb-3 fw-bold">MAC Lookup</h4>
        <p class="text-start fs-6">
          This MAC Vendor Finder returns information of the device installed at
          any location using MAC Address.
        </p>
      </div>
      <div class="my-5">
        <form action="" class="border rounded shadow p-5 pb-3 bg-white">
          <h5 class="pt-2 fw-bold">MAC Address Lookup</h5>
          <div
            class="mb-4"
            style="
              height: 3px;
              width: 170px;
              background-color: #005f73;
              overflow: hidden;
            "
          ></div>
          <div class="row my-3 pt-3">
            <div class="col-md-10 offset-md-1 text-center mb-5">
              <label for="" class="form-label fw-bold"><i class="fas fa-microchip me-2"></i> Enter MAC Address</label>
              <input
                [(ngModel)]="macAddress"
                class="form-control text-center mt-3"
                placeholder="81.C8.89.30.43.10"
                name="mac" 
                (input)="lookupVendor()"
              />
            </div>
          </div>         
        </form>
       
      </div>
    </div>
    <div class="col-md-6 col-sm-12 offset-md-1" *ngIf="!isVisible">
      <div
        class="d-flex justify-content-center align-items-center text-center"
        style="height: 100%; width: 100%"
      >
       <img src="../../assets/images/Output.png" alt="" style="width: 50%; height: 60%" />
      </div>
    </div>

    <div class="col-md-6 col-sm-12 mt-5 offset-md-1" *ngIf="isVisible">
      <div class="d-flex justify-content-center align-items-center text-center" style="height: 100%; height: 100%;">
        <p class="fw-bold">Output :-</p>
        <p *ngIf="vendor"><br><br><br>
          Vendor: <strong>{{ vendor }}</strong>
        </p>
      </div>
    </div>
  </div>
  <div class="row mt-5">
    <app-tool-page-sm></app-tool-page-sm>
  </div>
</div>

<app-footer></app-footer>
