.landing{
    position: relative; 
    width: 100%; 
    height: 500px; 
    overflow: hidden;
}
.landing-overlay-body{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 2rem;
    text-align: center;
    background-color: rgba(9, 8, 8, 0.42); /* Optional: adds a dark background behind text */
    height: 100%;
    width: 100%;
    padding: 1rem;
    border-radius: 8px;
}
.btn{
    background-color: #f7f7f7 !important;
    box-shadow: 2px 2px 10px #005f73;
    color: #005f73 !important;
    outline: none !important;
    border:2px solid #005f73 !important;
}

.btn:hover{
    background-color: #005f73 !important;
    color: white !important;
    box-shadow: none;
    transition: all .3s ease-in-out;
}

@media (max-width:1030px) {
    .landing{
        height: 400px;
    }
}
@media (max-width:768px) {
    .landing{
        height: 500px;
    }
}